.button {
    border: 0;
    padding: 0;
    padding: 10px 20px;
    background-color: $xanthous;
    color: $black;
    font-size: 16px;
    font-weight: 600;
    transition: background 300ms ease;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background-color: rgba($xanthous, 0.8);
    }
}