$header-height: 60px;

.authenticator {
  position: relative;
  margin: auto;
  top: 20vh;
  width: 340px;
  padding: 30px;
  border-radius: 10px;
  color: $xanthous;
  font-size: 16px;
  background-color: $black-overlay;
  

  &__wrapper {
    // todo make primary
    width: 100%;
    height: calc(100vh - $header-height);
    background: url("/img/stadium.jpg");
    background-repeat: no-repeat;
  }


  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form-item {
    position: relative;
    
    & + & {
      margin-top: 20px;
    }

    > label {
      position: absolute;
      top: 10px;
      left: 10px;
      pointer-events: none;
      transition: transform 250ms ease;
    }
  }

  &__input {
    background: none;
    border-radius: 5px;
    border: 2px solid $xanthous;
    color: $seasalt;
    padding: 20px 20px 10px 20px;
    font-size: 18px;
    width: 100%;

    &:focus-visible {
      outline: none;
      border-color: $seasalt;
    }

    &:focus-within + label,
    &:not(&:placeholder-shown) + label {
      transform: scale(0.7) translate(-15px, -10px);
    }
  }

  &__button-group {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
  }
}