$green: #2F9554;
$mint: #DDFFF7;
// $black: #2C363F;
$brown: #C49E85;
$red: #CE4257;

$xanthous: #C9E611;
$olive: #5A5766;
$black: #121619;
$seasalt: #FCFCFC;
$imperial: #EF2E38;
$seagreen: #4C956C;

$pear: #C9E611;
$pear-secondary: #afe611;

$black-overlay: rgba(0,0,0, .7);