@import "./colors";
@import "./shared";
@import "./components";

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: $black;
  color: $xanthous;
}

* { 
  box-sizing: border-box; 
}

a {
  color: $xanthous;
}

hr {
  width: 100%;
  border-color: $xanthous;
}